{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <form action="{% url 'sparepart:merk_delete' object.id %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Apakah anda ingin menghapus "{{ object.nama}}"?</td>
            </tr>
        </table>
        <input type="submit" value="Yes" class="btn btn-primary">
        <a href =  "{% url 'sparepart:merk' %}" type = "cancel" class="btn btn-secondary">No</a>
    </form>
    {% include "includes/footer.html" %}
</div>
{% endblock content %}

